/* .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:none;
    color: aliceblue;
}

.navList{
    display: flex;

} */



.navListLink{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
} 


.navbarHeading{
    color: black;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "Secular One";
}


.navButton{
    background-color: #F86800;
    border-radius: 15px;
    padding: -0.5rem;
    margin-left: 1rem;
}

@media (max-width:600px) {
    .navbarHeading{
        font-size: 1.5rem;
    }
}